<template>
<div>
    <header class="header">
        <div class="container flex header_inner"> 
            <div class="header_item flex">
                <svg class="header-logo" width="53" height="53" viewBox="0 0 51 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <ellipse cx="25" cy="26" rx="25" ry="26" fill="#542F5A" fill-opacity="0.5"/>
                    <line x1="13.5" y1="13.5" x2="27.5" y2="13.5" stroke="#E9CFFE" stroke-linecap="round"/>
                    <path d="M17 14L17 37" stroke="#E9CFFE" stroke-width="1.5"/>
                    <line x1="13.7" y1="36.3" x2="30.3" y2="36.3" stroke="#E9CFFE" stroke-width="1.4" stroke-linecap="round"/>
                    <path d="M33 17.5C33 20.5376 30.7085 23 27.8817 23C25.055 23 29.929 20.5376 29.929 17.5C29.929 14.4624 25.055 12 27.8817 12C30.7085 12 33 14.4624 33 17.5Z" fill="#E9CFFE"/>
                    <path d="M34 29.5C34 33.6421 31.7085 37 28.8817 37C26.055 37 30.929 33.6421 30.929 29.5C30.929 25.3579 26.055 22 28.8817 22C31.7085 22 34 25.3579 34 29.5Z" fill="#E9CFFE"/>
                    <line x1="31" y1="22.75" x2="17" y2="22.75" stroke="#E9CFFE" stroke-width="1.5"/>
                    <path d="M20 12L20 6" stroke="#E9CFFE" stroke-linecap="round"/>
                    <path d="M24 12L24 9" stroke="#E9CFFE" stroke-linecap="round"/>
                    <line x1="19.5" y1="35.5" x2="19.5" y2="43.5" stroke="#E9CFFE" stroke-linecap="round"/>
                    <line x1="24.5" y1="35.5" x2="24.5" y2="42.5" stroke="#E9CFFE" stroke-linecap="round"/>
                    <path d="M37 22L37 34" stroke="#E9CFFE" stroke-linecap="round"/>
                    <line x1="34.5" y1="21.5" x2="39.5" y2="21.5" stroke="#E9CFFE" stroke-linecap="round"/>
                    </svg>
           <input type="text" class="header-search" placeholder="Введите название валюты">
       </div>
       <div class="header_item flex">
        <nav class="flex">
            <router-link to="/HomeUser" class="header_nav-link">Главная</router-link>
           <div class="menu__item">
            <router-link to="/Registration" class="header_nav-link">Личный кабинет</router-link>
            
            <ul class="menu__sub-list">
            <li class="menu__sub-item"><router-link to="/wallet" class=" menu_sub_link">Кошелек </router-link> </li>
            <li class="menu__sub-item"><router-link to="/transaction" class="menu_sub_link">Транзакция </router-link> </li>
              <li class="menu__sub-item"><router-link to="/" class="menu_sub_link">Выйти </router-link> </li>
            </ul></div>
        </nav>
            </div>
        </div>
        <div class="header_item">
            <div class="menu"></div>
            <div class="menu"></div>
            <div class="menu"></div>
        </div>
         </header>
     <main class="container">
        <div class="content_home flex">
            <div class="currencies1_block">
                <!-- {{test}} -->
                <div class="title_currencies flex">
                    <p class="content_currencies_text">криптовалюта</p>
                    <p class="content_currencies_text">рубль</p>
                    <p class="content_currencies_text">доллар</p>
                    <p class="content_currencies_text">Евро</p>
                  </div>
                <div class="title-currencies" v-for="item in test.data.Data" :key="'currencies'+item.id">
                    <!-- {{item}} -->
                    <div class=" flex">
                        <p class="content_transaction_text">{{item.crypto_name}}</p>           
                        <p class="content_transaction_text">{{item.price_rub}}</p>
                        <p class="content_transaction_text">{{item.price_usd}} </p>
                        <p class="content_transaction_text">{{item.price_eur}} </p>
                    </div>
                </div>
                <div class="pagination">
                    <button class="pagination_btn" @click="buttonClick (item -1)"  v-for="item in test.data.meta.total_page" :key="'button'+item.id">{{item}}</button>
                </div>
            </div>                  
              
        <div class="content_home_Picture">
            <img class="content_home_Picture" src="@/assets/IMG/currencies.jpg" alt="home">
        </div>
        </div>
    </main>
    
    <footer>
        <div class="container flex footer_inner">
            <p class="footer_inner-item">BITCOINToday 2022</p>
            <p class="footer_inner-item">© Все права защищены</p>
            <p class="footer_inner-item">Пользовательское соглашение</p>
        </div>
    </footer>
    </div>
    </template>

    <script>   
        import {api} from "../services/api" 
    export default {
        data(){
            return{
                test: [],
            }
        },

        async created() {
             let formData = new FormData();
            
            formData.append('limit', 8 );
            formData.append("offset", 0);
  
            
            this.test = await api("http://edulip.ru/api/current_course", "POST", formData)
        },
         methods: {
            async buttonClick (item){
                let formData = new FormData();
            
            formData.append('limit', 8 );
            formData.append("offset", item*8);
  
            
            this.test = await api("http://edulip.ru/api/current_course", "POST", formData)
            }
         }
    }
    </script>
    