<template>
<form class="form" @submit.prevent="someAction()">
		<h1>BITCOINToday </h1>
		<div class="input-form">
			<input v-model="email" type="email" required placeholder="Email">
		</div>
		<div class="input-form">
			<input v-model="password" type="password" required placeholder="Пароль">
		</div>
		<div class="input-form">
      <!-- <router-link to="/HomeUser"> -->
			<input to="/HomeUser" type="submit" value="Зарегистрироваться ">
      <!-- </router-link> -->
		</div>
        <span  class="input-form-text">Уже есть аккаунт? </span>
		<router-link to="/Sign_in" class="forget">Войти</router-link>

  </form>
</template>

<script>
export default {

  data() {
    return {
      email: null,
      password: null,
    };
  },


  methods: {
    checkPasswordsEquality() {
      const { password} = this;


    },
    async someAction(){
      let that = this
      const data = await fetch(`http://edulip.ru/api/register?name=""&password="${this.password}"&email="${this.email}"`, {method: 'POST'})
        .then(res=> {
          console.log(that)
          that.$router.push('/HomeUser')}  )
        .catch(error => console.log(error))
    }
  },

};
</script>

