
<template>
<form class="form" @submit.prevent="login()">
		<h1>BITCOINToday </h1>
		<div class="input-form">
			<input v-model="email" type="email" required placeholder="Email">
		</div>
		<div class="input-form">
			<input v-model="password" type="password" required placeholder="Пароль">
		</div>
		<div class="input-form">
			<input type="submit" value="Войти">
		</div>
       <span  class="input-form-text">Нет аккаунта? </span>
		<router-link to="/Registration" class="forget2">Зарегистрироваться</router-link>

  </form>
</template>

<script>
import {api} from "../services/api"
export default {

  data() {
    return {
      email: null,
      password: null,
    };
    
  },


   methods: {
      async login() {
        const pas = `password="${this.password}"&`
        const email = `email="${this.email}"&name=123`
        let url = `http://edulip.ru/api/login?` + pas + email

        try{
           const req = await api(url, "POST")
           if (req.data.token){
             this.$store.commit('setToken', req.token)  
             this.$router.push('/HomeUser')
            //  let h = new Headers()
            //  h.append("Authorization", `Bearer ${this.$store.getters.getToken}`)
            //  api(url, "POST", null, h)
           }
           else{
             alert("Неверный логин или пароль")
           }
    
        }
        catch(e){
          console.log(e)
        }
  
      }}
  }

</script>

