<template>
  <div id="app">
    <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap" rel="stylesheet">
     
    <router-view/>
    
  </div>
</template>



<style>

@import 'assets/Styles/style.css';
</style>
