/*Обнуление*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    color: #000000;
}

html, body{
    width: 100%;
    height: 100%;
}

html{
    font-size: 1vw; 
}

body{
    background: white;
    color: #273238;
}

a, input, button, svg, img{
    outline: none; /* внутренний border */
}
li{
	list-style-type: none;
}
a{
    text-decoration: none;
}

a, svg, article{
    cursor: pointer;
}

footer{
    color: #fff;
}
/*--------------------*/

.container{
    width: 85rem;
    margin: 0 auto;
    
}

.flex{
    display: flex;
    align-items: center;
}
/*header*/
header.header{
    background: #E4C2EC;
    padding: 1.2rem 0;
}

.header_inner, .header_item{
    justify-content: space-between;
}

.header_item:nth-child(3n){
    display: none;
}
/*Выпадающий список*/
.menu__item{
    position: relative;
}
.menu__sub-list{
     display: none;
    position: absolute;
    top: .5rem;
    left:0;
    padding:.8rem 0 0 0;

}
.menu__sub-item{
    background: #fff;
    padding:.2rem 1rem .2rem 1rem;

}
.menu__item:hover .menu__sub-list{
    transform: translate(0px,0px);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    display: block; 
 }
.menu__sub_link{
    font-size: 1rem;
    font-weight: 400;
    transition: .2s; 
        }
.menu__sub-item{
  margin: .3rem 0;
        }
.menu_sub_link:hover{
    color: #c261e6;
    opacity: 1;  
}



.header-logo{
    width: 5rem;
    margin-right: .83rem;
}

.header-search{
    background: #ffffff;
    border: none;
    padding: 0.7rem;
    font-size: 1rem;
    width: 15.5rem;
    border-radius: 5px;
}

.header-search::placeholder{
    color: #273238;

}

nav{
    margin-right: 3.07rem;
}

.header_nav-link{
    color: #1c2428;
    font-size:1rem;
    margin-right: 2.92rem;
    transition: .2s;
}

.header_nav-link:hover{
    color: #ffffff;
    opacity: 1;
}

.header_nav-link:last-child{
    margin-right: 0;
}
/*header end*/
.content_home, .content_wallet{
    margin-top: 2.8rem;
    position: relative;
     justify-content: space-between;
     margin-bottom: 2.8rem;
}
.content_home_title{
    font-size: 3.33rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
}
.content_home_texts{
width:34rem;    
}
.content_home_text{
font-size: 1.6rem;

}
/*кнопка*/
.btn {
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 2px solid;
    border-radius: 40px;
    cursor: pointer;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    margin-top:3rem;
    padding: 0.98rem;
    text-decoration: none;
    text-align: center;
    width: 21rem;
    border-color: #9454A0;
    box-shadow: 0 0 40px 40px #ffffff inset, 0 0 0 0 #9454A0;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }
  .btn:hover {
    box-shadow: 0 0 5px 0 #9454A0 inset, 0 0 5px 4px #E4C2EC;
  }
    .btn_text{
text-align: center;
text-transform: uppercase;
font-size: 1.1rem;
}
/*button end*/
.content_home_Picture{

width: 36.92rem;
height: 38.85rem;
}
/*footer start*/

footer{
    background: #36474F;
    padding: 2.65rem 0;

}

.footer_inner{
    justify-content: space-between;
}

.footer_inner-item{
    color: #fff;
    font-size: .83rem;
    font-weight: 600;
}
/*registration start*/
.registration, .Sign_in{
    background:rgba(228, 194, 236, 0.19) ;
}
.form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 32.55rem;
}

.form h1 {
	margin: 1.8rem 5.20rem;
	padding: 0;
	text-align: center;
	color: #000000;
	font-size: 1.56rem;
    font-weight: 800;
}

.input-form {
	margin: 2rem 2.08rem;
	text-align: center;
}

.input-form input {
	padding: 0.52rem;
	width: 100%;
	color: #000000;
	font-size: 1.04rem;
	background: none;
	outline: none;
	border: 1px solid #000000;
	box-sizing: border-box;
    border-radius: 5px;
}

.input-form input[type="text"]:focus, .input-form input[type="password"]:focus {
	border: 1px solid #9454A0;
}

.input-form input[type="submit"] {
	margin-top: 1.5rem;
	color: #ffffff;
	font-weight: bold;
	border: none;
	background: #9454A0;
	transition: .3s;
}

.input-form input[type="submit"]:hover {
	background: #273238;
}

.form a {
	display: block;
	padding: 0 0 1.56rem;
	text-align: center;
	color: #9454A0 ;
	text-decoration: none;
	transition: .3s;
}

.form a:hover {
	color: #273238;
}
.input-form-text{
   position: absolute;
   left:8rem;
}
.forget{
    margin-left: 5rem;
    color:#9454A0 ;
}
.forget2{
    margin-left: 8rem;
    color:#9454A0 ;
}

/*transaction start*/
.content_transaction{

    text-align: center;
    margin-top: 2.8rem;
    height: 40rem;
  position: relative;
    margin-bottom: 4rem;
}
.content_transaction_box{
 position: absolute;
 left: 18rem;
 top: 5rem;
 width: 46rem;
height: 28.80rem;
border-radius: 15px;
background:#D9D9D9;
}

.transaction_text{ 
margin-top:3rem;
}
.content_transaction_text{

margin-right: 4rem;
}

/*кошелек старт*/
.content_wallet_block, .content_amount_block{
    margin-top: 1rem;
   width: 16.77rem;
   height: 28.80rem;
   border-radius: 15px;
   background:#D9D9D9;
}
.content_wallet_title{
    text-align: center;
    font-size: 1.25rem;
}
.content_buy_block, .content_sell_block{
    margin-top: 1rem;
    width: 16.77rem;
    height: 20rem;
    border-radius: 15px;
    background:#D9D9D9;
}
select{
    border: 1px solid #bc3beb;
    width: 6.6rem;
    padding: .1rem;
    margin: 1rem;

}
.input_buy{
    width: 6rem; 
    border: 1px solid #bc3beb;
    margin: 1rem;

}
.text_buy{
    font-size: 1rem;
    margin: 1rem;
    

}
.buy_block{
    justify-content: space-between;
    padding-top: 2rem;
}
.buy_btn{
    margin-top: 1rem;
    border: 1px solid #bc3beb;
    background: white;
    cursor: pointer;
    width: 8rem;
    padding: .5rem;
}
/*валюты старт*/
.title-currencies{

margin: .9rem;
}
.currencies1_block{
position: relative;
background: rgb(212, 211, 211);
height: 22rem;
width: 40rem;
}
.pagination_btn{
    width: 2rem;
    margin: 1rem;
    margin-top: 3rem;
    border-radius: 5px;
    border: 1px solid #bc3beb;
    background: #ffffff;
}
.pagination{
    position: absolute;
    top:20rem;
    left: 5rem;
}
.title_currencies{
    margin-left: .5rem;
}
.content_currencies_text{
    font-size: 1rem;
    font-weight: 700;
    margin-right: 4rem;
   width: 25%;
}
.content_transaction_text{
   margin-right: 4rem;
   width: 25%;

}
.content_transaction_text:last-child{
    margin-right: 0;
}
.content_currencies_text:last-child{
    margin-right: 0;
}


  /*Новости cards*/
  .cards{
      margin-bottom: 2rem;
  }
  .content_ribbon{
    position: relative;
    left: -6.9rem;
    animation: 5s;
    margin-top: 6rem;
    width:30rem;
    height: 6rem;
    margin-bottom: 2rem;
    border-radius: 0 50px  50px 0;
    background: #273238;
}
.content_ribbon_text{
    position: absolute;
    left: 15rem;
    top: 1rem;
    font-size: 2.5rem;
    font-weight: 600;  
    color: white;
}
  .cards_content{
    position: relative;
    width:40rem;
    margin-right: 4rem;
    background:#E3C3EB;
    justify-content: space-between;
    border-radius: 15px;
    margin: 1.5rem;
    }
    .cards1{
        
    position:relative;
    background-image: url(https://i-invdn-com.investing.com/news/CryptoBitcoindigital_800x533_L_1641975060.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:18rem;
    height:20rem;
    border-radius: 15px;
    }
    .cards3{      
         
        position:relative;
        background-image: url(https://regnum.ru/uploads/pictures/news/2016/12/20/regnum_picture_148222617585352_big.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width:18rem;
        height:20rem;
        border-radius: 15px;
    }
    .cards2{
      
        position:relative;
        background-image: url(https://cdn5.vedomosti.ru/crop/image/2022/43/udrl4/original-13dj.jpg?height=698&width=1240);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width:18rem;
        height:20rem;
        border-radius: 15px;   
    }
    .cards4{
             
    position:relative;
    background-image: url(https://i-invdn-com.investing.com/news/LYNXNPEF310CO_L.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:18rem;
    height:20rem;
    border-radius: 15px; 
    }
    .btn_site6{
    position: absolute;
    left: 22rem;
    top: 15rem;
    background: #ffffff;
    border: 0;
    padding: .8rem;
    border-radius: 30px;
    color: #273238;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    
    }
    .subtitle_text{
    position: absolute;
    top:2rem;
    left: 20rem;
    font-size: 1.5rem;
    font-weight: 700;
    width: 18.2rem;
    }
    
    .content_text_site6{
    font-size: 1.26rem;
    padding: 2.5rem;
    line-height: 2rem;
    width: 40rem;
    }
    /*сортировка*/
    .sorting{
        position: absolute;
        top: 26rem;
        left: 2rem;
    }

@media (max-width: 768px) {
    html{
        font-size: 2vw;
    }

    .container{
        width: 45.4rem;
    }
    .mini{
        margin-left: 1rem;
    }
    
    .content_home{
    display: block;
    margin-left: 3rem;
    }
    .content_transaction_box{
        position: absolute;
        left: 0rem;
        top: 5rem;
    }
    .cards{
        display: block;
    }
}
